/* TAGS */
html, body {
    margin: 0%;
    height: 100%;
    overflow: hidden;
}

h1 {text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 5px rgb(0, 0, 20, 0.7) ;
    color: white;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

nav, a{
    
}
/*///////////*/
/*// CLASSES //*/
/*///////////*/


/*background*/

.background {

    background-image: url(assets/wallpaper.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
border: none;
width:100%;
    height:100%; 
box-sizing:border-box;
}


/*window*/

.window-box {
    background-image: url(assets/window-box.png);
background-position: center;
background-size: contain;
    width:500px;
    height:500px; 
    background-repeat: no-repeat;
    position: relative;
    text-align: center;

}
.window-box .homepage1{
    width:500px;
    height:500px; 
    background-repeat: no-repeat;
    justify-content: left;
    margin: 40px;
    position: relative;
    text-align: center;

}
.window-box .homepage2 {
    background-image: url(assets/window-box.png);
    background-position: right;
    width: 500px;
    height:500px; 
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: right;
    margin-bottom: 60px;
    margin-left: 700px;
    position: relative;
    text-align: right;

}

.window-box .window-boxText{
    font-size: 13px;
text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: left;
    justify-content: left;
}
.window-box .window-boxText .homepage2 {
    font-size: 10px;
text-align: left;
    position: absolute;
    bottom: 500%;
    right: 500%;
    transform: translate(50%, 50%);
    display: flex;
    align-items: right;
    justify-content: right;
}


.window-box .window-boxText img {
    max-width: 70%;
border-radius: 7px;
    flex-basis: 40%;
}
  .window-box .window-boxText p {

    margin: 0;
    padding-right: 0px;
    padding: 0;
}

.window-box .window-boxText a {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png);
    margin: 0px;
    padding-right: 0px;
    padding:0px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 0.5 );
}



/*dock*/

.dock {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.dock .dock-left, .dock .dock-right {
    background-image: url(assets/dock.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 60px;
}
.dock-left {
    background-position: left bottom;
}
.dock-right {
    background-position: right bottom;
}
.dock-middle {
    background-image: url(assets/dock-middle.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 41px;
    position: relative;
    width: 80%;
}

.dock-nav a{
    font-size: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 1 ) ;
    text-decoration-line: none;
    padding: 55px;
    text-align: center;
    position: relative;
}