/* TAGS */
html, body {
    margin: 0%;
    height: 100%;
    overflow: hidden;
}

h1 {text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 5px rgb(0, 0, 20, 0.7) ;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}




/*///////////*/
/*// CLASSES //*/
/*///////////*/


/*background*/

.background {

    background-image: url(assets/wallpaper.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
border: none;
width:100%;
    height:100%; 
box-sizing:border-box;
}


/*window*/

.window-box {
    background-image: url(assets/window-box.png);
background-position: center;
background-size: contain;
    width:500px;
    height:500px; 
    background-repeat: no-repeat;
    position: relative;
float: left;
    text-align: center;
margin-LEFT: 40px;
margin-bottom: 10px;
animation: window-box ease 5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform: scale(-900%);
}
.window-box .homepage1{
    width:500px;
    height:500px; 
    
    float: left;

}

.window-box .homepage2{
    width:500px;
    height:500px; 
   
    float: right;
 

}


.window-box .window-boxText{
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
    display: flex;
    align-items: left;
    justify-content: left;

}
.window-box .window-boxText li{
    font-size: 20px;
    text-align: left;
    float: left;
    display: flex;
    align-items: left;
    justify-content: left;
    color: rgb(255, 255, 255, 0.5 );
}
.window-box .window-boxText li a .file-name{
    font-size: 12px;
    text-align: left;
    float: left;
    display: flex;
    margin: 9px;
    color: rgb(0, 0, 0, 0.5 );
}
.window-box .window-boxText li .file-date{
    font-size: 12px;
    margin: 0px;
    text-align: right;
    float: right;
    display: block;
    align-items: right;
    justify-content: right;
    margin-left: 300px;
}

.window-box .window-boxText .homepage2 {
    font-size: 10px;
text-align: left;
    position: absolute;
    bottom: 500%;
    right: 500%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: right;
    justify-content: right;
    
}


.window-box .window-boxText img {
    max-width: 70%;
border-radius: 7px;
    flex-basis: 40%;
}
  .window-box .window-boxText p {

    margin: 0;
    padding-right: 0px;
    padding: 0;
}

.window-box .window-boxText a {
    margin: 0px;
    padding:0px;
    text-decoration: none;
    color: black;
    text-align: left;
    content: "";
    clear: both;
    display: table;
    filter: drop-shadow(2px 2px 2px #222);
    
}

.about1
{
width: 255px;
height: 97px;
margin: 9px;
resize: both;  
overflow: auto; 
float: left;}
.about2
{ 
width: 455px;

font-size: 9px;
text-align: left;
height: 90px;
float: right;
}

.about1 .about1 {
    resize: horizontal;  
    overflow: auto;  
}


.contxt p br {
    margin: 0px;
    width: 600px;
}

.folder-list {
    margin: 0px;
    width: 500px;
    transform: scale(-70%);
    rotate: 180deg;
    margin-top: 10px;
    height: 270px;
    border-radius: 10px;
    scroll-behavior: auto;
    background-color: rgb(255, 255, 255, 0.5);
    overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
                list-style: none;
                padding: 0;
                
}



/*///////////*/
/*// EMBEDS //*/
/*///////////*/

.newsembed {
    border: none;
border-radius: 10px;
}


.ytembed {
border: none;
border-radius: 10px;

}


.instaembed {
    transform: scale(-40%);
    rotate: 180deg;
    margin: 0px;
padding-top: 120px;
border: none;
border-radius: 10px;
margin-left: 30px;
}
.twtembed {
    padding-top: 60px;
    margin-bottom: 20px;
    transform: scale(-55%);
    height: 10px;
    margin-top: 200px;
    rotate: 180deg;
    border-radius: 10px;
    float: left;
    margin-right: 90px;
}

.amembed{
    padding-top: 60px;
    margin-bottom: 10px;
        transform: scale(-50%);
        rotate: 180deg;
        margin-right: 30px;
        border-radius: 20px;
        float: left;

}

.spembed{
    float: right;
    transform: scale(-90%);
    rotate: 180deg;
    margin-left: 100px;
    border-radius: 10px;
}

.wikiembed{
    border-radius: 10px;
    margin-top: 40px;
}

/*dock*/

.dock {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.dock .dock-left, .dock .dock-right {
    background-image: url(assets/dock.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 60px;
}
.dock-left {
    background-position: left bottom;
}
.dock-right {
    background-position: right bottom;
}
.dock-middle {
    background-image: url(assets/dock-middle.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 41px;
    position: relative;
    width: 80%;
}

.dock-nav a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 1 ) ;
    text-decoration-line: none;
    padding: 55px;
    text-align: center;
    position: relative;
    
}


/*animation*/

.intro {
animation: intro ease 1s;
animation-iteration-count: 1;
animation-fill-mode: forwards;}
.intro1 {
animation: intro ease 5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;}

.introimg{
    margin: 0;
    width: 1560px;
    height: 780px;}

@keyframes intro {
    0% {
		display: inline-flex;
		opacity: 1;}

	99% {
		display: inline-flex;
		opacity: 0;
        width: 0px;
        height: 0px;}

	100% {
		display: none;
		opacity: 0;
        width: 0px;
        height: 0px;}
}

@keyframes window-box {
    0% {
        transform: scale(0);
    }
    99% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}







/* contract form */

button 
{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    border: rgb(0, 0, 0, 0.5 );
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: rgb(0, 0, 0, 0.5 );
}

input {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255, 0.5 );
    border-radius: 5px;
    border: rgb(0, 0, 0, 0.5 );
    margin: 3px;
}
select {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    border: rgb(0, 0, 0, 0.5 );
}


